<footer class="site-footer">

  <div class="wrapper">
    <div class="social-links">
      <a class="social-link social-github" href="https://github.com/{{ site.github_username }}" aria-label="GitHub">
        <i class="icon-github"></i>
      </a>
      <a class="social-link social-linkedin" href="https://www.linkedin.com/in/doyeonkim0606060129" aria-label="LinkedIn">
        <i class="icon-linkedin" aria-hidden="true"></i>
      </a>
    </div>
    <div class="credits">
      <div>페이지 제작: kagami with kamikat</div>
      <div>작성자: {{ site.author | escape }}</div>
    </div>
  </div>

</footer>
