---
layout: blank
---

<body{% if page.layout == 'post' %} class="article-page"{% endif %}>

  <main class="page-content" aria-label="Content">
    <div class="wrapper{% if page.layout == 'post' %} article-wrapper{% endif %}{% if page.path == 'about.md' %} about-wrapper{% endif %}{% if page.path == 'index.md' %} home-wrapper{% endif %}">
      {% include site-nav.html %}
      {{ content }}
    </div>
    {% include retina-image.html %}
    {% if site.mermaid or page.mermaid %}
    {% include mermaid.html %}
    {% endif %}
  </main>

  {% include footer.html %}

  {% include font-fix.html %}

</body>
